@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

header nav {
    position: fixed;
    right: 0;
    top: 20px;
}

header li {
    list-style: none;
    display: inline-block;
}

header a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 50%;
    margin-right: 20px;
}

header a:hover {
    box-shadow: 5px 5px 0px 0px;
}

.container {
    height: 100vh;
}

#viewport-1 {
    background-color: red;
}

#viewport-2 {
    background-color: green;
}

#viewport-3 {
    background-color: yellow;
}

